/* MAIN------------------------------------------------------------------------------ */

main {
    text-align: center; /* centralizando o main */
    margin-bottom: 20px;
}

/* JAVASCRIPT --------------------------------------------------------------------*/
/* Div numa class criada no JavaScript para exibir matéria - img, título e autor */
.materia-container {
    text-align: start; /*Texto no no começo da div*/
}

/* JAVASCRIPT ---------------------------------------------------------------------*/

/* HTML ---------------------------------------------------------------------------*/
/*Título de função da página - do html*/
.tituloFixo{
    margin: 50px 0px 30px 0px;
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline rgb(13, 13, 69);
}

/*subtítulo de função da página - do html */
.subtitulo{
    font-size: 22px;
    margin-bottom: 20px;
    display: block;
}

/* Textearea e input de texto do formulário de edição - do html */
.subtopico{
    font-family: 'Aleo', sans-serif;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: black solid;
}

/* Botão de EDITAR, EXCLUIR e INSERIR do formulário de EDITAR, EXCLUIR e INSERIR - do html */
.btFixo{
    font-family: 'Aleo', sans-serif;
    font-size: 18px;
    background-color: rgb(13, 13, 69);
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
    width: 120px;
}

/* FORMULÁRIO*/
/* Div do formulário, armazenando caixa de texto e de preenchimento */
.form-group {
    margin-bottom: 20px;
}

/* Estilização de caixas de entrada */
input{
    width: 50%;
    padding: 5px;
    font-size: 16px;
}
textarea {
    width: 50%;
    padding: 5px;
    font-size: 16px;
}
/* HTML ---------------------------------------------------------------------------*/