/* ESTILO DO HEADER E FOOTER - COMPONENTES FIXO EM TODAS AS PÁGINAS USADAS */

/* Linkando fonte do site */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Adicionando fonte aos componentes no body */
header, main, footer{
   font-family: 'Aleo', sans-serif;
}

body {
   min-height: 100vh; /*Altura relativa a diferentes dispositivos*/
   display: flex; /*Alinha elementos body*/
   flex-direction: column; /*direção da apresentação do site*/
}
/* HEADER-------------------------------------------------------------------------------------------- */

header {
   background: url(../imagens/ImagensHeaderFooter/backgraundHeaderFooter.jpg);
   width: 100%; /*Tamanho relativo a diferentes dispositivos*/
}

/* id da img da logo do site */
#logoHeader {
   display: inline; 
   width: 10%;
   margin-left: 50px;
   padding: 15px;
}

 /*Div armazenando elementos de navegação*/
.caixaHeader {
	position: relative;
	margin: 0 auto;
   display: flex;
   align-items: center; /*Alinha as caixas com o ponto centro de outras*/

}

nav {
	position: absolute; 
	right: 40px;
   text-align: center; /*alinha o texto no centro de um componente do body*/
}
nav li {
	display: inline;
	margin: 0 0 0 15px;
}
nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
   align-items: center;  /*Alinha as caixas com o ponto centro de outras*/
   border-radius: 8px;
   padding: 8px;
   border: 2px rgba(255, 255, 255, 0) solid;
   cursor: pointer;
}

/* li de com o input de busca utilizado para buscar autores*/
#campoPesquisa {
   border-radius: 8px;
   background-color: white;
   color: black;
   display: inline;
   font-size: 16px;
   padding: 10px;
   border-radius: 8px;
   border: 1px white solid;
}

/* input utilizado para buscar autores */
 #inBuscaAutor {
   color: black;
   display: inline;
   font-size: 16px;
   padding: 10px;
   border-radius: 8px;
   border: 1px white solid;
} 

/* lupa simbólica do input de busca */
#imgLupa {
   width: 15px;
   display: inline;
   background-color: white;
   border-radius: 8px;
   align-items: center;  /*Alinha as caixas com o ponto centro de outras*/
}

/* ancoras das li's*/
.opcoesCabecalho:hover {
   color: white;
   background-color: rgb(13, 13, 69);
   border: 2px white solid;
}

/* Ícones simbólicos de navegação */
#imgIcone {
   width: 18px;
   display: inline;
   padding-right: 5px;
}

/* HEADER-------------------------------------------------------------------------------------------- */

/* FOOTER-------------------------------------------------------------------------------------------- */

footer {
   background: url(../imagens/ImagensHeaderFooter/backgraundHeaderFooter.jpg);
   text-align: center;
   width: 100%;
   position: sticky;
   margin-top: auto;
}

/*id da logo do site no footer*/
#logoFooter {
   width: 10%;
   padding-top: 20px;
}

footer p {
   color: white;
   font-size: 11px;
   padding: 10px 0 20px 0;
}

/* FOOTER-------------------------------------------------------------------------------------------- */