@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
header, main, footer{
   font-family: 'Aleo', sans-serif;
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
/* HEADER-------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Alternates:wght@100;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
   background: url(../imagens/ImagensHeaderFooter/backgraundHeaderFooter.jpg);
   font-family: 'Aleo', serif;
   width: 100%;
}

#logoHeader {
   display: inline;
   width: 10%;
   margin-left: 50px;
   padding: 15px;
}
.caixaHeader {
	position: relative;
	margin: 0 auto;
   display: flex;
   align-items: center;

}
nav {
	position: absolute; 
	right: 40px;
   text-align: center;
}  
nav li {
	display: inline;
	margin: 0 0 0 15px;
}
nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
   align-items: center;
   border-radius: 8px;
   padding: 8px;
   border: 2px rgba(255, 255, 255, 0) solid;
   cursor: pointer;
}
 /* .opcoesCabecalho {
   color: white;
   display: inline;
   border-radius: 8px;
   margin-right: 50px;
   font-weight: bold;
   text-decoration: none;
   font-size: 20px;
   
   
   
}   */

#campoPesquisa {
   border-radius: 8px;
   background-color: white;
   color: black;
   display: inline;
   font-size: 16px;
   padding: 10px;
   border-radius: 8px;
   border: 1px white solid;
}

 #inBuscaAutor {
   color: black;
   display: inline;
   font-size: 16px;
   padding: 10px;
   border-radius: 8px;
   border: 1px white solid;
} 

#imgLupa {
   width: 25px;
   display: inline;
   background-color: white;
   border-radius: 8px;
   align-items: center;
}

.opcoesCabecalho:hover {
   color: white;
   background-color: rgb(13, 13, 69);
   border: 2px white solid;
}
#imgIcone {
   width: 18px;
   display: inline;
   padding-right: 5px;
}

/* HEADER-------------------------------------------------------------------------------------------- */

/* FOOTER-------------------------------------------------------------------------------------------- */

footer {
    background: url(../imagens/ImagensHeaderFooter/backgraundHeaderFooter.jpg);
   text-align: center;
   width: 100%;
   position: sticky;
   margin-top: auto;
}

#logoFooter {
   width: 10%;
   padding-top: 20px;
}

footer p {
   color: white;
   font-size: 11px;
   padding: 10px 0 20px 0;
}

/* FOOTER-------------------------------------------------------------------------------------------- */