/* Estilização login */


/*div - main*/
main {
    margin: auto;
}
.login {
    /*Centraliza seus elementos*/
    text-align: center;
    margin: 50px auto;
    border: 5px solid rgb(13, 13, 69);
    /*arredondamento das vértices*/
    border-radius: 10px;
    background-color: #ebeaea;
     /*tamanho da div*/
    width: 60%;
    /*espaçamento interno*/
    padding: 50px 10px;
}

/*h1*/
#tituloLogin {
    /*elementos um embaixo do outro*/
    display: block;
    text-align: center;
    /*tamanho da fonte*/
    font-size: 40px;
    border-radius: 5px;
    font-weight: bold;
}

/*div do input para a senha*/
#senha {
    text-align: center;
    font-size: 22px;
    /*espaçamento externo*/
    margin: 20px;
}

/*input para a senha*/
.inputSenha {
    /*Adicionando fonte no campo de preenchimento*/
    font-family: 'Aleo', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 8px;
    border: 2px black solid;
    width: 90%;
}

/*botão redirecionado à página de administrador*/
.btLogin {
    font-family: 'Aleo', sans-serif;
    padding: 10px;
    display: block;
    background-color: rgb(13, 13, 69);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px auto;
    /*seta muda para mão*/
    cursor: pointer;
}

/*logo do site na caixa da div com elementos do login*/
.logoLogin {
    width: 30%;
    text-align: center;
    padding-top: 15px;
}