@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    height: 1000px;
    font-family: 'Aleo', sans-serif;
}

.login {
    margin: 50px auto;
    border: 5px solid rgb(13, 13, 69);
    border-radius: 10px;
    background-color: #ebeaea;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin: auto;
}

.login input[type="number"] {
    width: 40%;
    margin-bottom: 20px;
    height: 30px;
    font-size: 15px;
}

.login input[type="button"] {
    width: 20%;
    height: 40px;
    font-size: 15px;
    margin-bottom: 15px;
}

.login h1 {
    font-size: 1.8em;
}