/* Estilização login */
/* Linkando fonte para o site */
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Adicionando a fonte ao main do site; */
main {
    font-family: 'Aleo', sans-serif;
}

/*div - main*/
.login {
    /*Centraliza seus elementos*/
    margin: 50px auto;
    border: 5px solid rgb(13, 13, 69);
    /*arredondamento das vértices*/
    border-radius: 10px;
    background-color: #ebeaea;
     /*tamanho da div*/
    width: 20%;
    /*espaçamento interno*/
    padding: 50px 10px;
}

/*h1*/
#tituloLogin {
    /*elementos um embaixo do outro*/
    display: block;
    text-align: center;
    /*tamanho da fonte*/
    font-size: 40px;
    border-radius: 5px;
    font-weight: bold;
}

/*div do input para a senha*/
#senha {
    text-align: center;
    font-size: 22px;
    /*espaçamento externo*/
    margin: 20px;
}

/*input para a senha*/
.inputSenha {
    /*Adicionando fonte no campo de preenchimento*/
    font-family: 'Aleo', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 15px;
    padding: 8px;
    border: 2px black solid;
}

/*botão redirecionado à página de administrador*/
.btLogin {
    font-family: 'Aleo', sans-serif;
    padding: 10px;
    display: block;
    background-color: rgb(13, 13, 69);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px auto;
    /*seta muda para mão*/
    cursor: pointer;
}

/*logo do site na caixa da div com elementos do login*/
.logoLogin {
    width: 30%;
    margin-left: 108px;
    padding-top: 15px;
}