/* JAVASCRIPT----------------------------------------------------------------------- */
/* Article - com todos os elementos da notícia */
.noticia-container {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 2em;
}

/* Estilização da imagem da notícia */
.noticia-imagem {
    width: 50%;
    margin: 1em 0;
}

/* Estilização do título da notícia */
.noticia-titulo {
    font-size: 2em;
    text-transform: uppercase;
}

/* Estilização do texto da notícia */
.noticia-texto {
    text-align: justify; /*Tippo de alinhamento das palavras*/
    margin: 20px 0;
    font-size: 20px;
}

/* Estilização do autor da notícia */
.noticia-autor {
    font-size: 1.2em; /*tamanho da img*/
    text-align: end; /*Texto no final da caixa de pertencimento*/
}