.noticia-imagem {
    width: 50%;
    margin: 1em 0;
}

.noticia-titulo {
    font-size: 2.5em;
    text-transform: uppercase;
}

.noticia-container {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 2em;
}

.noticia-texto {
    text-align: justify;
    margin: 20px 0;
    font-size: 20px;
}

.noticia-autor {
    font-size: 1.2em;
    text-align: end;
}