main {
  line-height: 1.5;
  word-wrap: break-word;
  text-align: center;
}

.materia-container {
  display: flex;
  align-items: center;
  width: auto;
  max-width: 40%;
  min-width: 35%;
  padding: 1%;
  margin: 5% auto;
  background-color: rgba(10, 10, 65, 0.050);
  border-bottom: 2px rgb(10, 10, 65) solid;
}

.materia-imagem {
  width: 30%;
  height: auto;
  margin-right: 20px;
}

.materia-titulo {
  align-items: center;
  text-align: start;
  color: rgb(10, 10, 65);
  font-size: 18px;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: 'Aleo', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
}

.materia-autor {
  width: auto;
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 1em;
  margin-bottom: 10px;
}

.materia-titulo:hover {
  color: rgb(50, 50, 150);
}

.materia-button, .noticia-button{
  font-family: 'Aleo', sans-serif;
  font-size: 16px;
  background-color: rgb(13, 13, 69);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 100px;
}