main{
  height: 1000px;
}
.materia-conteiner {
  display: flex;
  align-items: center;
  width: auto;
  max-width: 40%;
  min-width: 35%;
  padding: 1%;
  margin: 5% auto;
  background-color: rgba(10, 10, 65, 0.050);
  border-bottom: 2px rgb(10, 10, 65) solid;
}

.materia-imagem {
  width: 30%;
  height: auto;
  margin-right: 20px;
}

.materia-titulo {
  align-items: center;
  color: rgb(10, 10, 65);
  font-size: 19px;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
}

.materia-autor {
  width: auto;
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 1em;
  margin-bottom: 10px;
}

.materia-titulo:hover {
  color: rgb(50, 50, 150);
}
