/*CARACTERISTICAS GLOBAIS------------------------------------------- ------------- */

main {
  line-height: 1.5;
  word-wrap: break-word;
  /*quebra de linha de acordo com o tamanho do main*/
  text-align: center;
}

/* JAVASCRIPT-------------------------------------------------------------------- */
/* div que armazena itens da notícia */
.materia-container {
  display: flex;
  /*elemento embaixo do outro*/
  align-items: center;
  width: auto;
  max-width: 40%;
  /*maximo de ocupação*/
  min-width: 35%;
  /*mínimo de ocupação*/
  padding: 18px;
  margin: 60px auto;
  background-color: rgba(10, 10, 65, 0.050);
  border-bottom: 2px rgb(10, 10, 65) solid;
}

/* img da notícia cliclada */
.materia-imagem {
  width: 30%;
  height: auto;
  margin-right: 20px;
}

/* título da notícia clicada */
.materia-titulo {
  align-items: center;
  text-align: start;
  color: rgb(10, 10, 65);
  font-size: 18px;
  margin-bottom: 5px;
  cursor: pointer;
  font-family: 'Aleo', sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  /*altura entre as linhas*/
}

/* autor da notícia clicada */
.materia-autor {
  width: auto;
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 1em;
  margin-bottom: 10px;
}

/* interação ao enconstar no título resposta */
.materia-titulo:hover {
  color: rgb(50, 50, 150);
}

.materia-button,
.noticia-button {
  font-family: 'Aleo', sans-serif;
  font-size: 16px;
  background-color: rgb(13, 13, 69);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 100px;
}